@font-face {
    font-family: 'abc_diatype_triallight';
    src: url('./webfontkit-20220515-230605/abcdiatype-light-trial-webfont.woff2') format('woff2'),
         url('./webfontkit-20220515-230605/abcdiatype-light-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abc_diatype_triallight_italic';
    src: url('./webfontkit-20220515-230605/abcdiatype-lightitalic-trial-webfont.woff2') format('woff2'),
         url('./webfontkit-20220515-230605/abcdiatype-lightitalic-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abc_diatype_trialmedium';
    src: url('./webfontkit-20220515-230605/abcdiatype-medium-trial-webfont.woff2') format('woff2'),
         url('./webfontkit-20220515-230605/abcdiatype-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abc_diatype_trialMdIt';
    src: url('./webfontkit-20220515-230605/abcdiatype-mediumitalic-trial-webfont.woff2') format('woff2'),
         url('./webfontkit-20220515-230605/abcdiatype-mediumitalic-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abc_diatype_trialthin';
    src: url('./webfontkit-20220515-230605/abcdiatype-thin-trial-webfont.woff2') format('woff2'),
         url('./webfontkit-20220515-230605/abcdiatype-thin-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color:rgb(208, 255, 0);
    width:15090px;
    margin:0;
    padding:0;
    overflow-y: hidden;
    overflow-x:auto;
}
.row{
    /* float: left; */
    height:10vh;
     /* width:170vw; */
    /* padding:0px; */
    filter: blur(3px);
    /* width: 7.68%;  */
    background-repeat: repeat;
}

.row:hover{
    filter: blur(0px);
}
.background-images::after {
    clear: both;
    display: table;
    z-index:20;
}

.week_container{
    font-family: 'abc_diatype_triallight';
    src: url('./webfontkit-20220515-230605/abcdiatype-light-trial-webfont.woff2') format('woff2');
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding:20px;
    position:fixed;
    width:fit-content;
    z-index:1;
}
.weeks{
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    transform: rotate(-35deg);
    z-index:1;
}
.weeks:hover{
    background-color: yellow;
    color:black;
    z-index:1;
}

p{
    font-family: 'abc_diatype_trialmedium';
    src: url('./webfontkit-20220515-230605/abcdiatype-medium-trial-webfont.woff2') format('woff2');
    color:rgb(0, 0, 0);
    text-align: left;
    font-size: medium; 
    z-index:1;
}

#class-1{
    position:absolute;
    padding:100px;
    padding-top: 170px;
    z-index:1;
}

.Bob{
    width: 190px;
    z-index:1;
}


#class-2{
    position:absolute;
    padding:100px;
    padding-top: 170px;
    margin-left:1000px;
    z-index:1;
}
.quote-2{
    display: grid;
    width: 190px;
    padding-top:70px;
    z-index:1;
}

.w3{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:2500px;
    width: 190px;
    z-index:1;
}
.w4{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:3500px;
    width: 190px;
    z-index:1;
}
.w5{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:4500px;
    width: 190px;
    z-index:1;  
}
.w6{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:5500px;
    width: 190px;
    z-index:1;
}
.w7{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:6800px;
    width: 190px;
    z-index:1;
}
.w8{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:8100px;
    width: 300px;
    z-index:1;  
}
.w9{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:9300px;
    width: 290px;
    z-index:1;
}
.w10{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:9800px;
    width: 390px;
    z-index:1; 
}
.w11{   
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:10000px;
    width: 390px;
    z-index:1;   
}
.w12{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:11400px;
    width: 390px;
    z-index:1;    
}
.w13{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:12000px;
    width: 390px;
    z-index:1;  
}
.w14{
    position:absolute;
    color:rgb(237, 235, 235);
    padding-top: 170px;
    margin-left:13100px;
    width: 390px;
    z-index:1;  
}